<% content_for :body do %>
  <p>
    Latest activity:
    <br>
    <% @data.each do |post_id, group| %>
      <% group.each do |key, value| %>
        <%= "#{value} " + "#{key}".pluralize(value) %>
      <% end %>
      for post:
      <%= link_to resource_title(post_id), resource_url(post_id) %>
      <br>
    <% end %>
  </p>

  <p>You can <%= link_to 'unsubscribe', @unsubscribe_link %> from email notifications</p>
<% end %>
