PORT=3000

BASE_URL=http://localhost:4300

RACK_ENV=development

SECRET_KEY_BASE=488edeb12a018cc32a3454dbd5e6ffa2c1f300419a2c989c948ee8a9c29e80e4901038e78fd4a8b880eef549c7b1c9df93141b4f38fbeb6ed26d01638fbf2c88
DEVISE_SECRET_KEY=1cb97b224106f29c3762a0a00a15874448fcb3b35392090c0e1c6e2e6ba3c22e99d4a6b83f802c552f9c99f5f5c557422c4b803793d4efa92cd3bfbe6328d626

# Redis
REDIS_URL=redis://localhost:6379
REDIS_DB=0

# PGSQL
PG_DATABASE_USERNAME=postgres
PG_DATABASE_PASSWORD=postgres
PG_DATABASE_NAME=postgres
PG_DATABASE_HOST=postgresql

# Action Mailer config
SMTP_EMAIL_FROM=
SMTP_PORT=587
SMTP_ADDRESS=
SMTP_USER=
SMTP_PASS=
SMTP_DOMAIN=

# Localtunnel configuration
LOCALTUNNEL_ENABLED=false
LOCALTUNNEL_SUBDOMAIN=safeflaredown
LOCALTUNNEL_PORT=4300

# Facebook
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Discourse
DISCOURSE_ENABLED=false
DISCOURSE_URL=
DISCOURSE_AUTH_URL=
DISCOURSE_SECRET=

# Intercom
INTERCOM_APP_ID=
INTERCOM_SECRET=

# Google ReCaptcha
# https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

# Fullstory Recorder
FULLSTORY_ENABLED=
FULLSTORY_ORG=

# MongoDB
MONGODB_HOST=localhost
