<header class="centered">
  <h4>Discussions</h4>
</header>

<div>
  <a>My topics</a>
  {{link-to "My posts" "posts.profile"}}
  {{link-to "New post" "posts.new"}}
</div>

<div class="flaredown-white-box">
  {{input type="text" value=query placeholder="Search..."}}
</div>

{{#each model as |post|}}
  {{posts/topic-post post=post}}
{{/each}}
