<header class="centered">
  <h4>New post</h4>
</header>

<div class="flaredown-white-box">
  asd
</div>

{{input type="text" value=model.title}}

{{textarea value=model.body rows="6"}}

<div class="flaredown-white-box">
  {{#power-select
    class="fs-private"
    search=(action "searchObjects")
    options=randomTrackables
    onchange=(action "addTopic")
    placeholder="Add a condition"
    renderInPlace=true
  as |object| }}
    {{object.name}}
  {{/power-select}}
</div>

<button {{action "savePost"}}>Submit</button>
