.hbi-step {
  .switch-name {
    display: inline;
    position: absolute;
    margin-top: 3px;
    padding-left: 5px;
  }

  label {
    font-size: 20px;
  }

  .form-field {
    margin-bottom: 1em;
  }

  .submit {
    width: 100%;
  }

  .score {

    h3 {
      margin: 0;
      font-size: 64px;
    }

    border-radius: 4px;
    font-size: 1em;
    text-align: center;
    padding: 2em;
    background-color: #ECF7F6;
  }
}
