.hbi-step {
  .switch-name {
    display: inline;
    position: absolute;
    margin-top: 3px;
    padding-left: 5px;
  }

  label {
    font-size: 20px;
  }

  .form-field {
    margin-bottom: 1em;
  }

  .submit {
    width: 100%;
  }

  .score {
    h3 {
      margin-top: 1em;
    }

    .title {
      color: $medium-gray;
    }

    padding: 1em 0;
    background-color: lighten($light-gray, 8%);
  }
}
