.hbi-step {
  .switch-name {
    display: inline;
    position: absolute;
    margin-top: 3px;
    padding-left: 5px;
  }

  label {
    font-size: 20px;
  }

  .form-field {
    margin-bottom: 1em;
  }
}
