.checkin-summary {
	@include outer-container;
	max-width: 500px;
  .summary-title {
    color: $primary;
    text-align: center;
    -webkit-margin-after: 0em;
  }
  .note-textarea {
    height: 130px;
  }
}
