.trackables-step {
  .trackable-row {
    .draggable-dropzone {
      height: 1.5em;
      &.activated {
        height: 5em;
        background-color: $lightgrey;
        border-radius: 5px;
        border: 3px dashed $primary;
      }
      &.deactivated {
        background-color: white;
      }
    }
    .draggable-item {
      &.activated {
        box-shadow: 0 10px 0 5px lightgrey;
      }
    }
  }
}
