.trackables-step {
  .trackable-row {
    .draggable-dropzone {
      height: 1.5em;
      overflow: visible;
      &.activated {
        height: 5em;
        background-color: lighten($primary,20%);
        border: 2px dashed $primary;
      }
      &.deactivated {
        background-color: transparent;
      }
    }
    .draggable-item {
      &.activated {
        background: white;
        position: relative;
        outline: 1px solid $grey;
        box-shadow: 0 2px 10px rgba(0,0,0,0.3);
      }
    }
  }
}
