.treatment-taker {
  display: flex;
  padding-bottom: 5px;

  .treatment-data {
    .treatment-dose {
      display: flex;
      align-items: baseline;
      margin-top: .3em;
    }
  }

  .name {
    margin-top: 3px;
    margin-bottom: .1em;
  }
  .untaken {
    color: $light-gray;
  }
  .indented {
    margin: 0;
  }
  .dose {
    border-radius: 999px;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
    &:hover {
      opacity: .75;
    }
  }
  .ember-basic-dropdown {
    @extend .indented;
    width: 180px;
    display: inline-block;
    .dose-trigger,
    .dose-dropdown {
      border: 2px solid;
      border-radius: 4px;
    }
    .dose-dropdown {
      margin-top: -44px;
    }
  }
}
