.treatment-taker {
  padding-bottom: 5px;
  .name {
    position: absolute;
    display: inline;
    margin-top: 3px;
  }
  .untaken {
    color: $light-gray;
  }
  .indented {
    margin-left: 58px;
  }
  .dose {
    border-radius: 999px;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
    &:hover {
      opacity: .75;
    }
  }
  .ember-basic-dropdown {
    @extend .indented;
    width: 180px;
    display: inline-block;
    .dose-trigger,
    .dose-dropdown {
      border: 2px solid;
      border-radius: 4px;
    }
    .dose-dropdown {
      margin-top: -30px;
    }
  }
}
