.btn-group {
  display: flex;
  allign-items: center;
  justify-content: center;

  button {
    border-radius: 0;
    background-color: $primary;

    &:focus {
      outline: 0;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.active {
      background-color: darken($primary, 15%);
    }
  }
}
