.civ-chat-window {
  .ca__chat-expand-button {
    bottom: 115px;
  }

  .ca__chat-launcher-body {
    bottom: 175px;
  }

  @include media ($medium-screen) {
    .ca__chat-expand-button {
      bottom: 60px;
    }

    .ca__chat-launcher-body {
      bottom: 120px;
    }
  }
}
