.ember-basic-dropdown-trigger, input.ember-power-select-search-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5px;
  height: 40px;
  margin-bottom: .25em;
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 5px $primary;
  }
}

.ember-power-select-placeholder {
  padding-top: 8px;
}
.ember-power-select-status-icon {
  margin-right: 8px;
}

.ember-power-select-dropdown {
  margin-top: -40px;
}

.power-select-dropdown-trackable {
  line-height: normal;
}

.ember-power-select-selected-item {
  line-height: 2.6;
}

.ember-power-select-option {
  margin-bottom: 2px;
  .title {
    font-size: 1.1em;
  }
  .subtitle {
    font-size: .8em;
    color: $grey;
  }
  &[aria-current="true"] {
      background-color: $primary;
      color: #ffffff;
      .subtitle {
        color: inherit;
      }
  }
}
