.ember-basic-dropdown-trigger, .ember-power-select-search-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5px;
  height: 30px;
}

.ember-power-select-placeholder {
  padding-top: 3px;
}

.ember-power-select-dropdown {
  margin-top: -25px;
}
