@font-face {
    font-family: 'proximanovacond-regular';
    src: url('fonts/proximanovacond-regular-webfont.eot');
    src: url('fonts/proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-regular-webfont.woff') format('woff'),
         url('fonts/proximanovacond-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-regular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
