.tip {
  background: #ECF7F6;
  color: $primary;
  padding: .5em 1em;
  text-align: left;
  border: 1px solid $primary;
  border-radius: 3px;
}

.flaredown-white-box {
	@include outer-container;
	@include single-col;
	margin-bottom: 2em;
	h2 {
	  text-align: center;
	  margin: 1em 0;
	}
  .tip {
  	margin: 1em auto 2em auto;
  }
  .success_img {
  	margin: 2em auto;
  	display: block;
  }
}

.x-to-remove {
  color: grey;
  margin-left: 5px;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

footer {
  text-align: center;
  margin-top: 2em;
  color: $dark-shadow;
  a {
    color: $dark-shadow;
    & + a {
      margin-left: 25px;
    }
  }
}

.legal {
  @include outer-container;
	border-radius: 5px;
	background: white;
	padding: 30px;
	box-shadow: 0 4px 0 $shadow;
  max-width: 700px;
  ul {
    list-style-type: circle;
  }
  p + h5, ul + h5 {
    margin-top: 2em;
  }
}

input[type="submit"] {
  background-color: $primary;
  &:hover {
    background-color: darken($primary,10%);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: $action-color;
  }
}
