.tip {
  background: #ECF7F6;
  color: $primary;
  padding: .5em 1em;
  text-align: left;
  border: 1px solid $primary;
  border-radius: 3px;
}

.primary-btn {
  @include outer-container;
  @include standard-shadow;

  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background-color: $primary;

  &:hover,
  &:focus {
    background-color: darken($primary, 30%);
  }
}

.delete-btn {
  border: 1px solid black;
}

.flaredown-transparent-box {
  @include outer-container;
  width: 95%;
  max-width: 500px;
}

.flaredown-white-box {
	@include outer-container;
	@include single-col;
	margin-bottom: 1em;
  width: 95%;
	h2 {
	  text-align: center;
	  margin: 1em 0;
	}
  h3 {
    text-align: center;
    margin-top: 1em;
  }
  .tip {
  	margin: 1em auto 2em auto;
  }
  .success_img {
  	margin: 2em auto;
  	display: block;
  }

  &.max-width {
    max-width: 100%;
    width: 100%;
    padding: 30px 0px;
  }

  &.flaredown-svg-group {
    padding: 0;
    position: relative;
  }
}

.x-to-remove {
  color: $grey;
  margin-left: 5px;
  &:hover {
    color: $base-font-color;
    cursor: pointer;
  }
}

// Highlight unread notification
.unreadNotification {
  background: $lightprimary;
}

footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 8em;
  color: $dark-shadow;
  a {
    color: $dark-shadow;
    margin: 0 .5em;
  }
  .footer-help-btn {
    display: inline-block;
    padding: .5em 1em;
    border: 2px solid $dark-shadow;
    border-radius: 2px;
    margin-bottom: 1em;
  }
}

.legal {
  @include outer-container;
	border-radius: 5px;
	background: white;
	padding: 30px;
	box-shadow: 0 4px 0 $shadow;
  max-width: 700px;
  ul {
    list-style-type: circle;
  }
  p + h5, ul + h5 {
    margin-top: 2em;
  }
}

input[type="submit"] {
  -webkit-appearance: none;
  background-color: $primary;
  &:hover {
    background-color: darken($primary,10%);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: $action-color;
  }
}

.error-message {
  color: $indianred;
}

// https://github.com/emberjs/ember.js/issues/13171#issuecomment-200521638
[data-ember-action] {
  cursor: pointer;
}

// TEMPORARY FIX
.ca__chat-expand-button {
  display: none;
}

.mobile-back-button {
  @include media ($large-screen) {
    display: none;
  }
}

.checkinReminder {
  margin-top: 5%;
  color: $grey;

  .reminderTitle {
    color: $label-color;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .checked {
    color: $label-color;
  }

  .checkinReminders {
    display: flex;
    padding-left: 28px;

    .checkinReminderTime {
      width: 95px;
      margin-right: 1em;
      margin-bottom: 0;
    }

    .ember-basic-dropdown {
      flex: 1;
    }

    .ember-basic-dropdown-trigger {
      margin-bottom: 0;
    }
  }

  .checkinReminders .picker__box {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.checkinPrStep {
  h4 {
    text-align: center;
  }
  .prRate {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 89%;

    li {
      flex: 1;
      border: 1px solid $grey;
      border-left: none;
      text-align: center;
      color: $grey;
      font-weight: 200;
      font-size: 1.5em;

      &:first-child {
        border-left: 1px solid $grey;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      &:last-child {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }

    li.active {
      background-color: $primary;
      color: white;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;

    button.pr-btn {
      background-color: $primary
    }
  }
}

.checkinReviewBody {
  text-align: center;
  color: $grey;
}

.checkinReviewBody {
  .reviewSocials {
    display: flex;
    justify-content: center;
  }

  .reviewButtons {
    .reviewBtn {
      margin-bottom: 0.5em;
      border-radius: $radius;

      a {
        display: inherit;
        padding: 0.5em 0.25em;
        color: white;
      }
    }

    .reviewIOS-btn {
      background-color: $iosBtn-color;
      :active {
        background-color: rgba(31, 77, 158, 1);
        border-radius: $radius;
      }
    }

    .reviewGP-btn {
      background-color: $gbBtn-color;
      :active {
        background-color: rgba(29, 145, 135, 1);
        border-radius: $radius;
      }
    }
  }
}

.share-button {
  span a {
    color: white;
  }
}

.fb-share-button,
.twitter-share-button {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.6;
}


// History Page

.history-box {
  label {
    font-weight: 500;
    font-size: 1.5em;
  }
  .choosen-object {
    font-size: 0.8em;
  }
}

.history-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-btn {
  background-color: $primary;

  &:focus,
  &:hover {
    background-color: rgba(29, 145, 135, 1);
     outline: none;
  }
}

.large-btn {
  width: 100%;
}

.history-remove {
  color: rgba(255, 0, 0, 0.72);
}

.history-cancel {
  color: $grey;
}

.history-index-btn {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 1px solid $dark-shadow;
  color: $dark-shadow;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: rgba(225, 216, 200, 0.36);
    outline: none;
    color: $dark-shadow;
  }
}


// Pattern Index block

.pattern-block {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  width: 95%;

  span {
    font-weight: 600;

    &.pattern-edit {
      color: $primary;
    }
  }
}

.flaredown-svg-group {
  .line {
    fill: none;
    stroke-width: 2;
  }

  .dot {
    fill: #ffab00;
    stroke: #fff;
  }

  .yGrid {
    fill: none;
    stroke: $background;
    stroke-width: 1px;
    stroke-dasharray: 3,3;
  }

  line.hover-line {
    stroke: $lightgrey;
    stroke-width: 2;
  }

  .background-area {
    .svg-background {
      fill: white;
    }
  }

  .chart-hover-container {
    position: relative;
  }

  .tooltip-area {
    position: absolute;
    z-index: 10;
    background: white;
    border: 2px solid $lightgrey;
    border-radius: 5px;
    font-size: 14px;
    min-width: 120px;
    max-width: 200px;
    visibility: hidden;

    display: flex;
    flex-direction: column;

    .tooltip-header {
      display: flex;
      padding: 0 5px;
      background-color: $lightprimary;
      color: $primary;
      justify-content: space-between;
      align-items: center;
    }

    .tooltip-items {
      display: flex;
      flex-direction: column;
      word-wrap: break-word;

      .line-item {
        order: 1;
        display: flex;
        justify-content: space-between;

        span:first-child {
          padding-right: 5px;
        }
      }

      .marker-items {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        word-break: break-all;
      }

      .marker-item {
        display: flex;

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    img {
      width: 12px;
      height: 18px;
    }

    .tooltip-items {
      margin: 5px;
    }
  }
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .trackableItem {
    display: flex;
    align-items: center;
    color: red;
    margin-right: 10px;

    &:before {
      content: "";
      background-color: currentColor;
      margin-right: 5px;
    }

    &.circle:before {
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }

    &.line:before {
      width: 10px;
      height: 2px;
    }
  }
}

.sharePatternLink {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .history-index-btn {
    width: 50%;
    height: 50px;
    border-radius: 5px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Sharing Patterns
.sharedPatternsDialog {
  .sharedPatternList {
    display: flex;
    flex-direction: column;

    .sharedPattern {
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      justify-content: flex-end;
      padding: 5px 0;

      label:last-child { margin-right: 15px; }
    }

    .sharedPatternBtn {
      width: 100%;
      margin-top: 15px;

      &:disabled:hover {
        background-color: #50b1a9;
      }
    }
  }

  .sharedBottom {
      margin-top: 30px;
  }

  .sharedPatternUrl {
    margin-top: 30px;
    text-align: center;
  }
}

.birthDate {
  display: flex;
  justify-content: space-around;

  div:nth-child(3) {
    margin: 0 5px;
  }
}

.birthdayForm {
  margin-top: 0.5em;
}

