.tip {
  background: #ECF7F6;
  color: $primary;
  padding: .5em 1em;
  text-align: left;
  border: 1px solid $primary;
  border-radius: 3px;
}

.flaredown-white-box {
	@include outer-container;
	@include single-col;
	margin-bottom: 2em;

	h2 {
	  text-align: center;
	  margin: 1em 0;
	}

  .tip {
  	margin: 1em auto 2em auto;
  }
}

.x-to-remove {
  color: grey;
  margin-left: 5px;
  &:hover {
    color: black;
    cursor: pointer;
  }
}
