.tip {
  background: #ECF7F6;
  color: $primary;
  padding: .5em 1em;
  text-align: left;
  border: 1px solid $primary;
  border-radius: 3px;
}

.primary-btn {
  @include outer-container;
  @include standard-shadow;

  display: block;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background-color: $primary;

  &:hover,
  &:focus {
    background-color: darken($primary, 30%);
  }
}

.flaredown-transparent-box {
  @include outer-container;
  width: 95%;
  max-width: 500px;
}

.flaredown-white-box {
	@include outer-container;
	@include single-col;
	margin-bottom: 1em;
  width: 95%;
	h2 {
	  text-align: center;
	  margin: 1em 0;
	}
  h3 {
    text-align: center;
    margin-top: 1em;
  }
  .tip {
  	margin: 1em auto 2em auto;
  }
  .success_img {
  	margin: 2em auto;
  	display: block;
  }
}

.x-to-remove {
  color: $grey;
  margin-left: 5px;
  &:hover {
    color: $base-font-color;
    cursor: pointer;
  }
}

// Highlight unread notification
.unreadNotification {
  background: $lightprimary;
}

footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 8em;
  color: $dark-shadow;
  a {
    color: $dark-shadow;
    margin: 0 .5em;
  }
  .footer-help-btn {
    display: inline-block;
    padding: .5em 1em;
    border: 2px solid $dark-shadow;
    border-radius: 2px;
    margin-bottom: 1em;
  }
}

.legal {
  @include outer-container;
	border-radius: 5px;
	background: white;
	padding: 30px;
	box-shadow: 0 4px 0 $shadow;
  max-width: 700px;
  ul {
    list-style-type: circle;
  }
  p + h5, ul + h5 {
    margin-top: 2em;
  }
}

input[type="submit"] {
  -webkit-appearance: none;
  background-color: $primary;
  &:hover {
    background-color: darken($primary,10%);
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: $action-color;
  }
}

.error-message {
  color: $indianred;
}

// https://github.com/emberjs/ember.js/issues/13171#issuecomment-200521638
[data-ember-action] {
  cursor: pointer;
}

// TEMPORARY FIX
.ca__chat-expand-button {
  display: none;
}

.mobile-back-button {
  @include media ($large-screen) {
    display: none;
  }
}

.checkinReminder {
  color: $grey;

  .checked {
    color: $label-color;
  }

  .checkinReminderHours {
    width: 35%;
    padding-left: 28px;
  }

}
