body {
  background: $background;
  font-family: $proxima-regular;
  position: relative;
  margin: 1em 0 $bottom-nav-height 0;
  @media screen and (max-width: $medium-screen) {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: $primary;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: darken($primary, 30%)
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $proxima-regular;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

.centered {
  text-align: center;
}

.flex-container {
  display: flex;
}

  header.toggle-header {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

// navigation bar

.pull-down {
  @media screen and (max-width: $medium-screen) {
    padding-top: 60px;
  }
}

.nav {
  align-items: baseline;
  flex-wrap: wrap;
  z-index: 1200;
  transform: translate3d(0, 0%, 0);
  transition: transform 300ms linear;

  &.hideNavBar {
    transform: translate3d(0px, -101%, 0px);
  }

  .page-title {
    flex: 1;
    margin: auto;
    font-size: 1.4em;
  }

  @media screen and (min-width: $medium-screen) {
    margin: auto;
    padding-bottom: 2em;
    max-width: 500px;
    justify-content: space-between;
  }

  @media screen and (max-width: $medium-screen) {
    //===================
    position: fixed;
    top: 0;
    width: 100%;
    //====================

    justify-content: space-between;
    background-color: #fff;
    padding: .5em .75em;
    margin-bottom: .5em;
    box-shadow: 0 1px 0 #E1D8C8;

    .page-title {
      color: $grey;
      flex: 2;
      font-size: 1.1em;
    }
  }
}


.left-nav {
  flex: 0.5;
  @media screen and (min-width: $medium-screen) {
    // display: none;
  }

  @media screen and (max-width: $medium-screen) {
    align-items: center;
    font-size: 1.3em;
    color: $grey;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      margin-right: 0.5em;
    }
  }
}

.right-nav {
  flex: 0.5;
  justify-content: flex-end;
  align-items: baseline;

  a {
    padding-left: .4em;
  }
}

.search-resource {
  justify-content: inherit;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  input {
    width: 80%;
    margin: 0;
  }
  span {
    display: inline-block;
    color: $primary;
    font-size: 1.2em;
  }
  .ember-basic-dropdown {
    flex: 0.9;
    span {
      padding-top: 5px;
    }
    .ember-power-select-status-icon {
      display: none;
    }
  }
}

.typeTopickable {
  color: $grey;
  font-size: 0.8em;
}

span.ember-power-select-clear-btn {
  display: none;
}


.notification {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 500rem;
    background-color: red;
    position: absolute;
    top: -4.5px;
    right: -3.5px;
  }
}

.notification-nav {
  align-items: baseline;
  justify-content: flex-start;
  padding: 1.5em;

  .notification-title {
    flex: 1;
  }
}

.img-logo {
  display: inline-block;
  width: 50px;
}

.btn {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}


// Topic page
.topic-name, .topic-type {
  margin-bottom: 0.5em;
}

// Profile page
.profile-header {
  margin-bottom: 1.5em;

  .profile-circle {
    margin-bottom: 0.5em;
  }
}
