body {
  background: $background;
  font-family: $proxima-regular;
  position: relative;
  margin: 1em 0 $bottom-nav-height 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: $primary;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: darken($primary, 30%)
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $proxima-regular;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

.centered {
  text-align: center;
}

.img-logo {
  display: inline-block;
  width: 50px;
}
