@mixin standard-shadow {
  box-shadow: 0 4px 0 $shadow;
}

@mixin card {
	@include standard-shadow;
	border-radius: 5px;
	background: white;
	padding: 30px;
	box-shadow: 0 4px 0 $shadow;
}

@mixin single-col {
	@include card;
	max-width: 500px;
}

@mixin outer-container {
  @include clearfix;
  box-sizing: border-box;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin media($query) {
  @media screen and (min-width: $query) {
    @content;
  }
}
