//Colors
$background: #F2EEE8;
$primary: #73C1BA;
$shadow: #E1D8C8;
$lightgrey: #F1EEEE;

// Fonts
$proxima-regular: "proximanovacond-regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//Media
$tablet: 768px;
