//Colors
$background: #F2EEE8;
$primary: #73C1BA;
$secondary: rgba(115, 193, 186, 0.24);
$grey: grey;
$lightgrey: #F1EEEE;
$indianred: #CD5C5C;
$shadow: #E1D8C8;
$dark-shadow: #C3B399;
$inactive-link: #BDBDBD;
$lila—Å: #867eb8;
$label-color: #333;
$iosBtn-color: #3786e8;
$gbBtn-color: #a4c639;
$radius: 3px;

// Fonts
$proxima-regular: "proximanova-regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//Media
$tablet: 768px;
