//Colors
$background: #F2EEE8;
$primary: #73C1BA;
$lightgrey: #F1EEEE;
$indianred: #CD5C5C;
$shadow: #E1D8C8;
$dark-shadow: #C3B399;
$inactive-link: #BDBDBD;

// Fonts
$proxima-regular: "proximanova-regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//Media
$tablet: 768px;
