---
http_interactions:
- request:
    method: post
    uri: https://www.google.com/recaptcha/api/siteverify
    body:
      encoding: UTF-8
      string: remoteip&response=expired-recaptcha-response-dummy-string&secret=<RECAPTCHA_SECRET_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": false,
          "challenge_ts": "2016-06-08T07:54:17Z",
          "hostname": "localhost"
        }
  recorded_at: Wed, 08 Jun 2016 08:35:06 GMT
recorded_with: VCR 3.0.3
