<footer>
    <div class="inner">
      {{#link-to 'terms-of-service'}}Terms of Service{{/link-to}}
      {{#link-to 'privacy-policy'}}Privacy Policy{{/link-to}}
      <a href="mailto:contact@flaredown.com">Contact</a>
    </div>
    Flaredown &copy; 2016
</footer>
