{{#if session.isAuthenticated}}
  <header class="main">
    <a {{action 'invalidateSession'}}>Logout</a>
  </header>
{{else}}
  <header class="centered">
    <div>
      <img src="assets/logo.svg" class="img-logo">
      <h4>Early Access</h4>
    </div>
  </header>
{{/if}}

