<header class="centered navigation" role="banner">
  {{#if session.isAuthenticated}}
    {{navigation-bar}}
  {{else}}
    <div>
      <img src="assets/logo.svg" class="img-logo">
      <h4>{{capitalize currentPath}}</h4>
    </div>
  {{/if}}
</header>
