{{#each post.topics as |topic|}}
  <li class="choosen-object">
    {{#link-to 'posts.topic' topic.modelType topic.id}}
      <div class="badge-text">{{topic.name}}</div>
    {{/link-to}}
  </li>
{{/each}}
