<h5>
  {{#link-to 'posts.show' comment.post.id (query-params anchor=(concat 'anchor-' comment.id)) class="colorable-clr-39"}}
    Responded to <b>{{comment.post.title}}</b>
  {{/link-to}}
</h5>

<p>{{#link-to 'posts.show' comment.post.id class="colorable-clr-39"}}{{comment.body}}{{/link-to}}</p>

{{emoji-reactions reactable=comment}}
