<h5>{{#link-to 'posts.show' post class="colorable-clr-39"}}{{post.title}}{{/link-to}}</h5>

<p>{{#link-to 'posts.show' post class="colorable-clr-39"}}{{post.body}}{{/link-to}}</p>

{{posts/post-topics post=post}}

<span class="colorable-clr-38">{{post.commentsCount}} comments</span>
