.vert-offset-top-1 {
  margin-top: 1em;
}

.vert-offset-top-2 {
  margin-top: 2em;
}

.vert-offset-bottom-0_5 {
  margin-bottom: .5em;
}

.vert-offset-bottom-1 {
  margin-bottom: 1em;
}

.vert-offset-bottom-2 {
  margin-bottom: 2em;
}
