<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a password reset for your account on Flaredown.com. You can do this through the link below.</p>

<p><%= link_to 'Change my password', "#{ENV['BASE_URL']}/password/#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Don't worry, your password won't change unless you choose to use the link above.</p>
