<div class="pull-down"></div>
{{ navigation-links title=title optionObjects=foundTopics onSearch=(action "searchObjects") onGo=(action "goToTopic") isAuthenticatedUser=session.isAuthenticated}}

{{#each model.unread as |notification|}}
  {{posts/activity-notification notification=notification}}
{{/each}}

{{#each model.read as |notification|}}
  {{posts/activity-notification notification=notification}}
{{/each}}
