<header class="centered">
  <img src="/assets/crystal-ball.png" class="img-logo">

  <h4>Chornic Illness Oracle</h4>
  <h4>{{link-to "by Flaredown" "application"}}</h4>
</header>

{{#if model.responce}}
  {{oracle-result}}
{{else}}
  {{oracle-form model=model}}
{{/if}}
