<div class="legal">
  <h2>Flaredown</h2>
  <h4>Privacy Policy</h4>
  <h5>Updated 5/25/2015</h5>
  <p>Flaredown LLC ("<b>Flaredown</b>", "<b>we</b>," "<b>us</b>" and "<b>our</b>") is committed to respecting the privacy rights of users of our flaredown.com website ("<b>Website</b>"), our mobile phone applications (the "<b>Applications</b>"), platforms, or any Content or information provided as part of these services (collectively, the "<b>Services</b>").  Flaredown created this Privacy Policy (the "<b>Privacy Policy</b>") to explain its information collection and use practices and the protection of your information when you visit and use the Website, Applications or any of our Services.  Any terms capitalized but not otherwise defined herein shall have the respective meanings set forth in the Terms &amp; Conditions.</p>
  <p>Being open about one’s health is not for everyone, and we strive, with full transparency, to outline the benefits and risks of being part of this sharing site, including those related to privacy. This Privacy Policy outlines the type of information Flaredown collects from individuals who have registered to join Flaredown ("<b>Members</b>") and how it is shared with other third parties, including, but not limited to medical device companies, non-profits, and research institutions ("<b>Partners</b>").</p>
  <p>We reserve the right to modify this policy at any time, and without prior notice, by posting an amended Privacy Policy and terms on this website. We encourage Members to review this policy periodically for any updates.</p>
  <h5>What kind of information we collect</h5>
  <b>Shared Data</b>
  <ul>
    <li>Some of the information that Members provide about themselves may be shared with the Flaredown community, Partners, and others in an anonymous aggregate format ("<b>Shared Data</b>"). Examples of Shared Data that Members may submit at the Services may include:</li>
    <li>Biographical information, e.g., sex, age, location (country), ethnicity;</li>
    <li>General health information, e.g., level of activity, occupation;</li>
    <li>Treatment information, e.g., treatment start dates, stop dates, dosages;</li>
    <li>Symptom information, e.g., severity, duration;</li>
    <li>Primary and secondary outcome scores over time, e.g. Harvey-Bradshaw Index, PH-9; and</li>
    <li>Information shared via free text fields, e.g. the forum or public comments.</li>
  </ul>
  <p>In the course of using the Services, Members may share information that could be used to reasonably identify them ("<b>Personal Information</b>"), including name, photograph, and email address. When a Member chooses to share Personal Information via a free text field (e.g. forum posts or comments) and photos or images, the information shall be treated as Shared Data.</p><b>Restricted Data</b>
  <p>Some of the information that Members enter into certain fields when registering to use or using the Services will not be shared ("<b>Restricted Data</b>"). The type of Restricted Data that Members may submit at the Services may include:</p>
  <ul>
    <li>Email address, as collected and verified as part of registration or in a Member’s Account Information;</li>
    <li>Password, as collected as part of registration or in a Member’s Account Information;</li>
    <li>Date of birth, as collected during account registration; and</li>
    <li>When a Member enters Personal Information, including date of birth and email address, as part of registering to use Flaredown, that Personal Information is treated as Restricted Data.</li>
  </ul>
  <h5>Cookies</h5>
  <p>A cookie is a small data file that often includes an anonymous, unique token, which is sent to your browser from a website’s computers and may be stored on your computer’s hard drive. Two types of cookies are required to use the Services:</p>
  <p>Session Cookies are temporary cookies that remain only until you log out of the website or exit your web browser. Session Cookies do not store any Personal Information, only a unique visitor ID number that may be used to ensure Members are properly authenticated and can view site information.</p>
  <p>Persistent Cookies remain in the cookie file of your browser for much longer, even after you leave the Services. Persistent Cookies also do not store any Personal Information. Persistent Cookies store preferences that should persist from visit to visit, like "Remember Me," and a unique token to enable us to understand how Members use the Services ("<b>Services Usage</b>").</p>
  <h5>How your data is used</h5>
  <p>Members should expect that every piece of information they submit (even if it is not currently displayed), except for Restricted Data, may be shared with the community, other patients, and Partners. Members are encouraged to share health information but should consider that the more information that is entered, the more likely it is that a Member could be located or identified.</p>
  <p>There are instances where both Shared Data and Restricted Data, including Personal Information, may be used and disclosed including, but not limited to, the following:</p>
  <p>Flaredown uses Shared Data, Restricted Data, and Services Usage internally, as needed, for research, for maintenance and operation of the Services, and to create the best possible tools and functionality for patients.</p>
  <p>Flaredown may use a Member’s data in the case of an emergency or other circumstance that we determine requires a member of the management team to directly contact the Member.</p>
  <p>Flaredown may share or disclose a Member’s data where required by law or to comply with legal process.</p>
  <p>In the event Flaredown goes through a business transition, such as a merger, acquisition by another organization, or sale of all or a portion of its assets, the Shared Data and Restricted Data, including Personal Information, might be among the assets transferred. Members will be notified via this Services of any such change in ownership or control of Personal Information.</p>
  <h5>How Shared Data is Used</h5>
  <p>Shared Data is viewable through aggregated reports that are made available to other Flaredown Members. In some instances, this Shared Data is also viewable to those not registered to join Flaredown ("<b>Non-members</b>"). We report Shared Data in aggregate, such as the number of patients on a particular treatment or the number of patients experiencing a particular symptom (e.g. public treatment, condition, and symptom reports).</p>
  <p>In addition to serving the individual needs of our Members, Flaredown and its Partners are interested in better understanding the patient experience and improving treatment options and health outcomes for everyone. For example, we may look at questions such as, "Do certain treatments work better for some types of people versus others?" Flaredown provides Shared Data, in aggregate format, to Partners and other third parties for use in scientific research. When sharing this information, Flaredown removes Members’ Restricted Data to reduce the likelihood of re-identification prior to sharing information with Partners.</p>
  <p>Flaredown may also report individual adverse event and drug safety information to the FDA, CDC, and/or other regulatory bodies (U.S. and international) as well as directly to pharmaceutical and biotechnology companies. Flaredown does not provide Restricted Data to such regulatory bodies, although we reserve the right to contact Members for follow-up at the request of agencies or Partners. The information Flaredown reports includes, but is not limited to, all of the information about the Member and/or free text or images on the forums or evaluations, which may include Shared Data.</p>
  <p>Flaredown, like most Internet communities, is a public forum, and Members acknowledge and accept that any information shared through free text or images might be connected to Members’ Shared Data (which may be shared with or displayed for others). For example, if a Member puts his or her name (or other Personal Information) into a free text field like the forum or comments, the Member should know this information may be included in what is shared with or displayed for Partners.</p>
  <h5>How Restricted Data is Used</h5>
  <p>Restricted Data is not automatically shared with, sold to, or displayed for other Members or Partners. Specific instances where Restricted Data may be used include, but are not limited to, the following:</p>
  <ul>
    <li>If a Member provides a date of birth, the Member’s current age will be viewable via My Profile;</li>
    <li>If a Member chooses the Public privacy setting (see below), Flaredown and others may use public profiles in reports, conference presentations, media mentions, etc.;</li>
    <li>If a Member explicitly opts in to have their Restricted Data shared with a Partner, Flaredown will share the information as instructed by the Member (e.g. co-registration with a non-profit);</li>
    <li>If a Member makes a request, Flaredown may use Restricted Data, including sharing the Member’s Restricted Data with software/service vendors, for the purpose of fulfilling the request. Examples include requesting to receive the company newsletter via email or requesting an email response from the Flaredown support team.</li>
  </ul>
  <h5>Other security issues</h5>
  <p>Flaredown cannot guarantee the identity of any other Members with whom a Member may interact in the course of using the Services or who may have access to a Member’s Shared Data. Additionally, we cannot guarantee the authenticity of any data that Members may provide about themselves.</p>
  <p>Finally, Members should know that Flaredown takes commercially reasonable technical precautions to help keep Member data secure.</p>
  <h5>Risks and benefits</h5>
  <p>While our goal is to help patients improve health outcomes, there are no certain benefits to using this website. However, keeping track of personal well-being, treatments, and symptoms has been shown to be helpful in improving overall health.</p>
  <p>There are also no known risks to using this website, but there is a possibility that users may feel uncomfortable sharing information online. It is possible that a Member could be identified using information shared on Flaredown (and/or in conjunction with other data sources). A Member could be discriminated against or experience repercussions as a result of the information shared. For example, it is possible that employers, insurance companies, or others may discriminate based on health information.</p>
  <p>Members should understand that anyone can register at Flaredown and view the Shared Data in the system. If you are reading this Privacy Policy because you have access to the Personal Information of a Services participant, we urge you to recognize and fulfill your responsibility to protect the privacy of that person.</p>
  <p>In using the Services, Members are free to skip any non-required questions or data fields that make them feel uncomfortable. Members are also free to stop using this service at any time. If a Member chooses to deactivate his/her account, Flaredown will not display or share the data in that account with Partners as of the date of deactivation. However, the Member’s data will remain in the system for auditing purposes, and research conducted prior to the deactivation of a Member’s account will still include the Member’s data.</p>
  <h5>Questions about the Privacy Policy</h5>
  <p>If you have questions or comments about our Privacy Policy, email us at contact@flaredown.com, or contact us at:</p><span>Flaredown, LLC</span><br><span>75 E 4th St #4157</span><br><span>New York, NY 10003</span>
</div>
