{{#modal-dialog title="Log in"}}
  <h1>Modal Title</h1>
  <p class="modal-intro">
    Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
  </p>
  <p class="modal-content">
    Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque,
    placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim
    quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum
    dolor ipsum dolor sit sit possimus amet.
  </p>
{{/modal-dialog}}
