<div class="upcoming">
  <h1>The graph is coming!</h1>
  <img src="assets/fd_upcoming_graph.png">
  <p>
    We’re still working on the full flaredown experience. In the meantime, we figured we’d let you start tracking
    your data now so you’ll have it when the graph goes up.
  </p>
  <h1>What else are we working on?</h1>
  <img src="assets/fd_upcoming_printout.png">
  <p>
    Printouts designed to give your doctor a summary of the symptoms you’ve been tracking, without overwhelming them.
  </p>
  <img src="assets/fd_upcoming_stats.png">
  <p>
    See stats that we’ve gathered about conditions, treatments, and symptoms according to Flaredown users (very much
    in progress, they’ll probably look different than this).
  </p>
  <img src="assets/fd_upcoming_talk.png">
  <p>
    Talk to other users about their experiences with symptoms and treatments and learn from real people.
  </p>
  <span>See weekly updates on our progress: </span>
  <a href="http://flaredownapp.tumblr.com/tagged/weekly+update">flaredownapp.tumblr.com</a>
</div>
