.upcoming {
  @include outer-container;

  border-radius: 5px;
  background: white;
  padding: 30px;
  box-shadow: 0 4px 0 $shadow;
  max-width: 600px;

  h1 {
    text-align: center;
    margin: 1em 0;
  }

  p {
    margin-bottom: 4em;
  }

  img {
    margin-bottom: 1em;
  }
}
