<!-- {{checkin-trackables checkin=model.checkin trackableType="Condition"}} -->

<p>TODO: checkin conditions step</p>

{{step-controls step=model.currentStep
                onBackward=(action "goBack")
                onForward=(action "completeStep") }}
