<div class="yesterday">
  <a href="#" {{action 'goToYesterday'}}>‹</a>
</div>
<div class="checkin-date">
  {{monthAndDay}}
</div>
<div class="tomorrow">
  <a href="#" {{action 'goToTomorrow'}}>›</a>
</div>
