{{partial "components/checkin/step-header"}}

<h3>Food</h3>

{{checkin/multi-select-group
  idsKey='foodIds'
  modelName='food'
  relationName='foods'
}}

<h3 class="vert-offset-top-2">Tags</h3>

{{checkin/multi-select-group
  idsKey='tagIds'
  modelName='tag'
  badgeStyle=true
  relationName='tags'
}}

{{step-controls
  step=step
  forwardLabel='Review'
  onBackward=(action "goBack")
  onForward=(action "completeStep")
}}
