<br>

{{checkin/note-edit checkin=checkin}}

<div class="flaredown-white-box">
  {{checkin/weather-step}}
</div>

{{step-controls step=step
                showBack=false
                forwardLabel="View graphs"
                onForward=(action "completeStep") }}
