<br>
<div class="flaredown-white-box">
  {{checkin/tags-edit checkin=checkin}}
</div>

{{step-controls step=model.currentStep
                showBack=false
                forwardLabel="Back to Dashboard"
                onForward=(action "completeStep") }}
