<ul>
  {{#each tags as |tag|}}
    <li class="checkin-tag" {{action "clicked" tag}}>
      <img class="checkin-tag-pointer" src="/assets/tag-point.svg">
      <div class="checkin-tag-text">{{tag.name}}</div>
    </li>
  {{/each}}
</ul>

{{#power-select placeholder=selectPlaceholder
                search=(action "searchTags")
                onchange=(action "handleChange")
                renderInPlace=true as |tag| }}
  {{tag.name}}
{{/power-select}}
