<ul>
  {{#each tags as |tag|}}
    <li class="checkin-tag" {{action "clicked" tag}}>
      <img class="checkin-tag-pointer" src="assets/tag-point.svg">
      <div class="checkin-tag-text">{{tag.name}}</div>
    </li>
  {{/each}}
</ul>

{{select-field resource="tag"
               selection=selectedTag
               onSelect=(action "selected")
               create=true
               fetchItemsOnInit=false
               placeholder=selectPlaceholder
               onFocus=(action "toggleSelectFocused")
               onBlur=(action "toggleSelectFocused")
               class="flat" }}
