{{#each existingTrackings as |tracking| }}
  {{partial "components/view-remove-tracking"}}
{{/each}}

{{#each newTrackings as |tracking| }}
  {{partial "components/view-remove-tracking"}}
{{/each}}

{{select-field resource=trackableType
               selection=selectedTrackable
               onSelect=(action "trackSelected")
               create=true
               placeholder=selectPlaceholder}}

<div class="explainer">
  Not required, and you can change these later
</div>
