<div class="reminderTitle">{{title}}</div>

{{#form-for for=profile}}

  {{#radio-button
      value=false
      groupValue=profile.checkinReminder
      changed="changeReminder"}}
      {{reminderOff}}
  {{/radio-button}}

  {{#radio-button
      value=true
      groupValue=profile.checkinReminder
      changed="changeReminder"}}
      {{reminderOn}}
  {{/radio-button}}

  {{#form-field for="checkinReminderHours" classNameBindings="checkinReminderEnabled:checkinReminderHours:hideTag"}}
    {{time-field on-change=(action "timeChanged") value=profile.checkinReminderAt hour12=true}}
  {{/form-field}}

{{/form-for}}
