{{#each existingTrackings as |tracking| }}
  {{partial "components/view-remove-tracking"}}
{{/each}}

{{#each newTrackings as |tracking| }}
  {{partial "components/view-remove-tracking"}}
{{/each}}

{{trackables-select trackableType=trackableType
                    selected=selectedTrackable
                    onSelect=(action "trackSelected") }}

<div class="explainer">
  Not required, and you can change these later
</div>
