<div class="item">
  {{inline-svg "circle" class="icon"}}
  <span>Design your health profile</span>
</div>

<div class="item">
  {{inline-svg "circle" class="icon"}}
  <span>Track symptoms and treatments</span>
</div>

<div class="item">
  {{inline-svg "circle" class="icon"}}
  <span>Share you story</span>
</div>
