{{#form-for onSubmit="authenticateWithDevise"}}
  <div class="form-field">
    <label for="identification">Email</label>
    {{input value=identification placeholder='Enter Email' class='form-control'}}
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
  </div>
  <p>
    Not a member yet? {{#link-to 'signup'}}Signup Now{{/link-to}}
  </p>
  {{input type="submit" class="btn btn-default right" value="Login"}}
{{/form-for}}

{{#if errorMessage}}
  <div class="alert alert-danger">
    <p>
      <strong>Login failed:</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
{{/if}}
{{#link-to 'password.reset'}}Forgot password{{/link-to}}
