<div class="navigation-wrapper">
  <a href="#" class="logo">
    <img src="assets/logo.svg">
  </a>
  <a href="#" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
  <nav role="navigation">
    <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="#">Graph</a></li>
      <li class="nav-link"><a href="#">Upcoming</a></li>
      <li class="nav-link"><a href="#">Discussion</a></li>
    </ul>
  </nav>
  <div class="navigation-tools">
    <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link more">
        <a href="#">{{session.currentUser.email}}</a>
        <ul class="submenu">
          <li class="nav-link">
            {{#link-to "index"}}Profile{{/link-to}}
          </li>
          <li class="nav-link">
            <a {{action 'invalidateSession'}}>Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
