{{#if successfulReset}}
  <h4>Reset request received, please check your email.</h4>
{{/if}}

{{#form-for onSubmit="resetPassword"}}
  <div class="form-group">
    <label for="identification">Email</label>
    {{input value=model.email placeholder='name@domain.com' class='form-control'}}
  </div>

  {{#link-to 'login'}}Back to Login{{/link-to}}
  {{input type="submit" class="btn btn-primary right" value="Reset your password"}}
{{/form-for}}
