{{#form-for onSubmit="resetPassword"}}
  <div class="form-group">
    <label for="identification">Email</label>
    {{input value=identification placeholder='name@domain.com' class='form-control'}}
  </div>
  {{input type="submit" class="btn btn-primary" value="Reset your password"}}
{{/form-for}}
