{{#if showHeaderLogo}}
  <img src="/assets/logo.svg" class="img-logo">

  {{#if showHeaderPath}}
    {{#if (eq currentPathTitle 'signup')}}
      <h4>Create your Flaredown account</h4>
    {{else}}
      <h4>{{capitalize currentPathTitle}}</h4>
    {{/if}}
  {{/if}}
{{/if}}
