<h4>
  {{label}}
  <span class="x-to-remove" {{action 'xClick'}}>×</span>
</h4>
<div>
  <ul class="pips">
    {{#each pips as |pip|}}
      {{pip-tag value=pip.value tooltip=pip.tooltip selected=selectedValue current=currentValue modelBgClass=model.bgClass
                  onClick=(action "setSelectedValue")
                  onMouseEnter=(action "setCurrentValue")
                  onMouseLeave=(action "unsetCurrentValue")}}
    {{/each}}
  </ul>
</div>
