<li class="nav-link"><a href="#" {{action "goToNewCheckin" model.date}}>Add Checkin</a></li>

{{checkin/days-nav big=isSummary date=model.date}}

{{#each model.checkins as |checkin|}}
  <li class="nav-link"><a href="#" {{action "goToCheckin" checkin}}>{{ checkin.id }}</a></li>
{{/each}}
