<div>
  {{name}} {{confidence}}
</div>

{{#radio-button name=elementId value="doctorDiagnosed" groupValue=correction changed="correctionChanged"}}
  Doctor diagnosed
{{/radio-button}}

{{#radio-button name=elementId value="selfDiagnosed" groupValue=correction changed="correctionChanged"}}
  Self-diagnosed
{{/radio-button}}

{{#radio-button name=elementId value="unknown" groupValue=correction changed="correctionChanged"}}
  Unknown
{{/radio-button}}

{{#radio-button name=elementId value="dontHaveThis" groupValue=correction changed="correctionChanged"}}
  I don't have this
{{/radio-button}}
