.chart-navigation {
  left: 0;
  width: 100%;
  bottom: $bottom-nav-height;
  height: $bottom-nav-height * .8;
  display: flex;
  position: fixed;
  background-color: white;
  user-select: none;
  justify-content: space-around;
  align-items: center;

  -webkit-box-shadow: 0px 0px .5rem 0px $shadow;
     -moz-box-shadow: 0px 0px .5rem 0px $shadow;
          box-shadow: 0px 0px .5rem 0px $shadow;

  @include media ($medium-screen) {
    bottom: 0;
  }

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.2;
    margin: 0 5px;
  }

  span {
    color: $primary;
  }

  .picker__input {
    display: none;
  }

  .eye-icon,
  .calendar-icon {
    height: 12px;
  }

  .arrow-icon {
    height: 30px;
  }

  .calendar {
    display: flex;
    flex-grow: 0.5;
    justify-content: center;

    .calendarItem {
      border: 2px solid $primary;
      margin-top: 5px;
      margin-bottom: 5px;
      max-height: 2.6rem;
      max-width: 140px;
      text-align: -webkit-center;
      white-space: nowrap;
    }
  }

  .left-arrow {
    flex: 0.3;
  }

  .calendar {
    flex: 0.7;
  }

  .rigth-arrow {
    flex: 0.3;
  }
}

.isBottom {
  bottom: 0;
}

.picker__button--clear {
  display: none;
}
