.checkin-treatment {
  margin-bottom: 15px;
  .name {
    position: absolute;
    display: inline;
    margin-top: 3px;
  }
  .untaken {
    color: $light-gray;
  }
  .indented {
    margin-left: 58px;
  }
  .dose {
    border-radius: 999px;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
    &:hover {
      opacity: .75;
    }
  }
  .dose-field {
    display: inline-block;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 0px;
    width: 180px;
    .selectize-control {
      display: inline-block;
      .selectize-input {
        background-color: white;
        background-image: none;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        font-size: 1em;
        height: 30px;
        width: 176px;
        padding: 8px 4px;
        &:after {
          top: 20px;
        }
      }
      .selectize-dropdown {
        font-size: 1em;
      }
    }

  }
  .done {
    font-weight: bold;
    font-size: 1.1em;
  }
}
