.discussion-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &::after {
    display: none;
  }

  a {
    align-self: center;
  }

  @media screen and (min-width: 600px) {
    padding-top: 2em;
  }

  .btn-link {
    color: white;
    padding: .5em .5em;
    border: 1px solid $primary;
    border-radius: 5px;
    background-color: $primary;

    &:hover,
    &:focus {
      background-color: darken($primary, 30%);
    }
  }

  .btn-filter {
    color: $lilaс;
    padding: .5em 1em;
    background-color: transparent;
    border: 1px solid $lilaс;

    &.active {
      color: white;
      background-color: $lilaс;
    }
  }
}

.followed-topic {
  font-size: 1.25em;
  line-height: 1.8em;
  .x-to-remove {
    float: right;
  }
}

.pull-left {
  display: flex;
  :first-child {
    border-radius: 5px 0px 0px 5px;
  }
  :last-child {
    border-radius: 0px 5px 5px 0px;
  }
}

.btn-filter {
  box-sizing: border-box;
}

.badge-post-topics {
  background-color: $secondary;
  color: $primary;
}

.filter-topic {
  @media screen and (max-width: $medium-screen) {
    display: none;
  }
}

.new-comment {
  textarea{
    height: 54px;
    transition: height .25s;

    &:focus {
      height: 125px;
    }
  }
}
