.health-chart {
  &.dragging {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

  }

  &.dragging:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
  }

  .tool-tip {
    font-weight: bold;
    font-size: 12px;
  }

  svg {

    circle.point:hover {
      stroke-width: 3;
      cursor: pointer;
    }

    .marker:hover {
      opacity: 0.5;
      stroke-width: 2;
      cursor: pointer;
    }

    .trackable-title {
      margin-top: 21px;
    }

    path.line {
      fill: none;
      stroke-width: 2;
    }

    .vertical-line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    .chart {
      .axis {
        path {
          fill: none;
          stroke-width: 1;
          stroke-dasharray: 3,3;
        }
      }
    }

    .timeline {
      .axis {
        path, line {
          fill: none;
          stroke: grey;
          stroke-width: 1;
          shape-rendering: crispEdges;
        }

        .tick {
          font-size: 10px;
        }
        .tick:hover {
          fill: grey;
          stroke-width: 2;
          cursor: pointer;
        };
      }
    }


  }

}
