.health-chart {

  svg {

    .trackable-title {
      margin-top: 21px;
    }

    path.line {
      fill: none;
      stroke-width: 2;
    }

    .chart {
      .axis {
        path {
          fill: none;
          stroke-width: 1;
          stroke-dasharray: 3,3;
        }
      }
    }

    .timeline {
      .axis {
        path, line {
          fill: none;
          stroke: grey;
          stroke-width: 1;
          shape-rendering: crispEdges;
        }

        .tick {
          font-size: 10px;
        }
        .tick:hover {
          fill: grey;
          stroke-width: 2;
          cursor: pointer;
        };
      }
    }


  }

}
