.onboarding {
	@include outer-container;
	@include single-col;
	margin-bottom: 2em;

	h2 {
	  text-align: center;
	  margin: 1em 0;
	}

  .tip {
  	margin: 1em auto 2em auto;
    & + .tip {
      margin-top: -1em;
    }
  }
}
