.signup-form {
	@include outer-container;
	@include single-col;

  .g-recaptcha {
    margin-bottom: 0.75em;
  }

  .checkbox {
    flex-direction: row;
    margin: 0.5em 0 1em;

    .error-message {
      margin-top: 0;
      font-weight: bold;
      font-size: 0.9em;
    }
  }

  .birthdayForm .error-message {
    margin-top: 0;
  }
}
