.step-controls {
  @include outer-container;
  margin-top: 20px;
  .back,
  .forward {
    @include grid-column(6);
    text-align: center;
    a {
      margin-top: 8px;
      display: inline-block;
    }
    button {
      background-color: $primary;
      &:hover,
      &:focus {
        background-color: darken($primary, 30%);
      }
    }

    button.summary-btn {
      display: inline-flex;
      span {
        padding-left: 5%;
        line-height: initial;
      }
    }

    button.discussion-btn {
      background-color: $primary;
      &:hover,
      &:focus {
        background-color: darken($primary, 30%);
      }
    }
  }
}
