.tracked-level {
  margin-bottom: 1.5em;
  .pips {
    li {
      position: relative;
      display: inline-block;
      margin-right: 4px;
      border-radius: 5px;
      width: 50px;
      height: 40px;
      color: transparent;
      cursor: pointer;
      background-color: #ddd;
      opacity: 0.4;

      &.highlight {
        opacity: 1;
      }

      &:first-of-type {
        width: 40px;
        border-radius: 999px;
        background-image: url(smiley.svg);
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center;
      }

      &:focus,
      &:hover .tooltip {
        opacity: 1;
        visibility: visible;
      }

      .tooltip {
        @include position(absolute, null 0 3em 0);
        @include transition (all 0.2s ease-in-out);
        background-color: black;
        background: black;
        border-radius: 3px;
        box-shadow: 0 2px 2px black;
        color: #333;
        font-size: 0.7em;
        line-height: 1.5em;
        margin-left: -21px;
        margin-bottom: 20px;
        max-width: 100px;
        min-width: 100px;
        opacity: 0;
        padding: 0.7em;
        text-align: center;
        visibility: hidden;
        z-index: 10;

        p {
          color: white;
          line-height: 12px;
          margin: 0;
        }

        &:after {
          @include position(absolute, null 0 null 0);
          border: 8px solid transparent;
          bottom: -1.5em;
          color: black;
          content: '▼';
          font-size: 1.4em;
          margin-left: -8px;
          text-align: center;
          text-shadow: 0 2px 2px silver;
        }
      }

    }
  }
  h4 {
    position: relative;
    display: inline;
  }
}
