---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=55403&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "55403",
                       "short_name" : "55403",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Minneapolis",
                       "short_name" : "Minneapolis",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Hennepin County",
                       "short_name" : "Hennepin County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Minnesota",
                       "short_name" : "MN",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Minneapolis, MN 55403, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 44.99369000000001,
                          "lng" : -93.24731380000001
                       },
                       "southwest" : {
                          "lat" : 44.9626919,
                          "lng" : -93.30455000000001
                       }
                    },
                    "location" : {
                       "lat" : 44.9691279,
                       "lng" : -93.2878982
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 44.9831049,
                          "lng" : -93.2705649
                       },
                       "southwest" : {
                          "lat" : 44.9626919,
                          "lng" : -93.30455000000001
                       }
                    }
                 },
                 "place_id" : "ChIJKR8TIsIys1IRKXV3alxqfac",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 29 Dec 2016 14:07:12 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/MY_MEGA_FORECAST_IO_KEY/44.9691279,-93.2878982,1452060000?exclude=minutely,hourly,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '15'
      Etag:
      - W/"435-WYi+0UzlvuGp8wh7ywfvrQ"
      X-Response-Time:
      - 160.250ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":44.9691279,"longitude":-93.2878982,"timezone":"America/Chicago","offset":-6,"currently":{"time":1452060000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":27.25,"apparentTemperature":20.06,"dewPoint":21.22,"humidity":0.78,"windSpeed":6.63,"windBearing":159,"visibility":9.68,"cloudCover":1,"pressure":1019.65},"daily":{"data":[{"time":1452060000,"summary":"Partly
        cloudy until afternoon.","icon":"partly-cloudy-day","sunriseTime":1452088336,"sunsetTime":1452120455,"moonPhase":0.89,"precipIntensity":0.0006,"precipIntensityMax":0.0028,"precipIntensityMaxTime":1452135600,"precipProbability":0.08,"precipType":"snow","precipAccumulation":0.103,"temperatureMin":24.4,"temperatureMinTime":1452081600,"temperatureMax":32.84,"temperatureMaxTime":1452114000,"apparentTemperatureMin":17.75,"apparentTemperatureMinTime":1452081600,"apparentTemperatureMax":26.68,"apparentTemperatureMaxTime":1452114000,"dewPoint":24.46,"humidity":0.82,"windSpeed":6.48,"windBearing":149,"visibility":7.43,"cloudCover":0.29,"pressure":1018.34}]}}'
  recorded_at: Thu, 29 Dec 2016 14:07:14 GMT
recorded_with: VCR 3.0.3
