name: rspec

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'bin/*'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'bin/*'

jobs:
  rspec:
    defaults:
      run:
        working-directory: backend
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports: ['6379:6379']
        options: --entrypoint redis-server

      db:
        image: postgres:11.13
        env:
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.4.0
        with:
          mongodb-version: 4.4

      - name: Install PostgreSQL client
        run: |
          sudo apt-get -yqq install libpq-dev
      - name: Build App
        env:
          MONGODB_HOST: localhost
          MONGODB_PORT: 27017
          POSTGRES_HOST: localhost
          DATABASE_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_PORT: 5432
        run: |
          bundle install
          bundle exec rake db:create
          bundle exec rake db:schema:load
      - name: Run rspec
        env:
          MONGODB_HOST: localhost
          MONGODB_PORT: 27017
          POSTGRES_HOST: localhost
          DATABASE_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_PORT: 5432
          INTERCOM_SECRET: secret
          BASE_URL: test.com

        run: |
          bundle exec rspec
